.idea/

**/_deps/
external/
build/

CMakeFiles/
cmake_install.cmake
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
compile_commands.json
imgui.ini
Makefile
CMakeFiles/cmake.check_cache
cmake-build-*/

*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
